 @import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');




* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}
body{
    font-family: 'Work Sans', sans-serif;
}

/* banner style */
.banner {

    background-image: url('../images/banner/banner3.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 1345px;
    height: 700px; 
    color: #FFFFFF;
    /* object-fit: cover;
    object-position: center; */


}


.header-title {
    height: 228px;
    font-weight: 600;
    font-size: 50px;
    text-align: right;
    padding: 50px 150px 5px 750px;



}

.header-description {
    text-align: right;
    padding: 0px 150px 5px 750px;

}




.btn-primary-1 {
    color: #005FAC;
    background: #FFFFFF;
    border-radius: 5px;
    border: 0;
    width: 150px;
    height: 60px;
    font-weight: 600;
    font-size: 20px;
    margin-left: 1050px;



}

/* main styles */
.my-failures {
    display: flex;
    margin: 50px 170px 30px 100px;
    align-items: center;

}
.fa-solid{
    color: rgb(145, 235, 10);

}


.section-title {
    color: #151414;
    font-weight: 900;
    font-size: 50px;
    margin: 50px 30px 0px 20px;
    padding: 15px 50px;
}

.section-description {
    color: #444343;
    font-weight: 400;
    font-size: 16px;
    margin: 0px 30px 0px 20px;
    padding: 5px 50px;
}



/* my plan style */
.my-plans {
    margin: 20px 250px;
    align-items: center;
}

.my-plans-title {
    text-align: center;
    color: #151414;
    font-weight: 700;
    font-size: 40px;
    margin: 150px 150px 50px 150px;

}

.skill {
    text-align: center;
}

.skills-container {
    display: flex;
    gap: 20px;
}

.skill-title {
    font-weight: 700;
    font-size: 30px;
}

/* gradiant style */
.gradiant {
    background-image: url('../images/gradient1.png'), url('../images/watch.png');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 8px;
    width: 1140px;
    height: 300px;
    margin: 50px 90px 150px 90px;
    padding: 20px 30px 10px 50px;

}


.gradiant-title {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 40px;
    text-align: left;
    margin: 50px 150px 5px 15px;
    padding: 20px 550px 2px 55px;
}

.btn-primary-2 {
    text-align: left;
    color: #005FAC;
    background: #FFFFFF;
    border-radius: 5px;
    border: 0;
    width: 150px;
    height: 60px;
    font-weight: 600;
    font-size: 20px;
    margin: 2px 550px 0px 65px;
    padding: 20px;
}

/* contact style */
.contact {
    display: flex;
    gap: 100px;
    background: #151414;
    padding: 100px 50px;
}


.contact .contact-title {
    text-align: left;
}

.contact input,
button {
    margin-bottom: 24px;
    border: 1px solid #FFFFFF;


}

.contact-title {
    color: #F8F8F8;
    font-weight: 700;
    font-size: 45px;
}

.contact a {
    text-decoration: none;
}

input {
    color: #F3F3F3;
    background: #151414;
    height: 10px;
    border-radius: 5px;
    width: 50%;
    padding: 18px 30px;
}

.contact-description {
    color: #FFFFFF;
    font-weight: 200;
    font-size: 15px;
    margin: 5px;

}

h5 {
    color: #FFFFFF;
margin: 15px 5px;
    font-weight: 600;
    font-size: 20px;
}


.btn-primary-3 {
    color: #FFFFFF;
    background: #005FAC;
    margin: 2px 550px 0px 0px;
    padding: 10px 20px 10px 20px;
    font-weight: 100;
    font-size: 18px;
    border-radius: 5px;
    border: 0;
    width: 150px;
    height: 50px;

}